.header  {
    background-color:#f9fafc;
 padding: 50px;
 
}

.top {
    color: #000;
}
.lab {
   list-style: none;
   color: #69696a;

  
}

body {
   background-color:  #f9fafc;
   color:  #69696a;
   font-family:Open Sans', sans-serif;

}
.line {
    border-left: 6px solid  #69696a;;
  height: 75px;
}

.btn1 , .btn2 {
    color: #fff;
    background-color: #000;
    padding: 12px;
    border-radius: 30px;
   width: 100%;
}